@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191923;
}

.blankArea {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 1s;
}

.blankArea.show {
    opacity: 1;
    z-index: 5;
}

.headImage {
    position: fixed;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    opacity: 0;
    transition: all 1s;
}

.headImage.show {
    z-index: 5;
    opacity: 1;
}

main {
    position: fixed;
    top: 3%;
    bottom: 3%;
    width: 97%;
    height: 94%;
}

/* left side sterts */

.leftSide {
    background-color: rgba(36, 36, 47, 9);
    width: 23%;
    height: inherit;
    position: fixed;
}

.leftSide > header {
    height: 40%;
    background-color: #23232f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftSide > header > img:first-child {
    margin-bottom: 100px;
    margin-top: 10px;
    width: 120px;
}

.leftSide > header > .magnifier {
    width: 40px;
    position: fixed;
    top: 12%;
    opacity: 0;
    transition: all .5s;
}

.leftSide > header > .magnifier.show {
    opacity: .8;
    cursor: pointer;
}

.leftSide > header > strong {
    font-family: "Poppins",sans-serif;
    font-weight: 450;
    font-size: 15px;
    position: fixed;
    margin-top: 80px;
    color: white;
    transition: all .5s;
    cursor: default;
}

.leftSide > header > strong:hover {
    color: #ffc107;
}

.leftSide > header > pre {
    position: fixed;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: .2px;
    color: rgb(140, 140, 142);
    margin-top: 200px;
    margin-left: -85px;
}

.leftSide > main {
    width: inherit;
    height: 40%;
    position: fixed;
    top: 45%;
    background-color: #20202a;
    overflow: scroll;
}

.leftSide > main::-webkit-scrollbar {
    display: none;
}

.leftSide > main > section {
    padding: 30px 10%;
}

ul {
    list-style-type: none;
}

li > h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: .4px;
    color: white;
    float: left;

}

li > span {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: .4px;
    color: rgb(140, 140, 142);
    float: right;
}

main > section > .firstHr {
    margin-top: 40px;
    width: 98%;
    margin: 40px auto;
    opacity: .3;
    color: rgb(140, 140, 142);
}

main > .languages {
    position: relative;
}

main > section > .container {
    width: 90%;
    position: absolute;
    top: -80%;
    left: 5%;
    display: flex;
    justify-content: space-around;
}

section > .container > .progressOne,
section > .container > .progressTwo {
    position: relative;
    font-family: "poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: conic-gradient(#ffc107 3.6deg, #191923 0deg);
    border-radius: 50%;
} 

section > .container > .progressOne::before,
section > .container > .progressTwo::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
    background-color: #20202a;
    border-radius: 50%;
}

div > span {
    position: relative;
    color: rgb(202, 202, 206);
    font-weight: 500;
    letter-spacing: .3px;
}

div > .title {
    color: white;
    position: absolute;
    top: 110%;
    font-family: "poppins", sans-serif;
    font-size: 13px;
    letter-spacing: .3px;
}

.secondHr {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
    width: 80%;
    opacity: .3;
    color: rgb(140, 140, 142);
}

.abilities {
    font-family: "poppins", sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .3px;
    margin-top: 20px;
}

.abilities > .title {
    position: absolute;
    left: 12%;
    color: #c4c4c7;
    margin-top: -25px;
}

.abilities > .percent {
    position: absolute;
    right: 12%;
    color: #848487;
    margin-top: -25px;
}

.abilities > .progressBar {
    width: 94%;
    height: 5px;
    background-color: #191923;
    border-radius: 5px;
    margin: 0 auto 55px auto;
}

.abilities > .python::after,
.abilities > .matlab::after,
.abilities > .photoshop::after,
.abilities > .arduino::after {
    content: "";
    width: 0;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    background-color: #ffc107;
    transition: all 1s .5s;
}

.abilities > .python.show::after,
.abilities > .matlab.show::after,
.abilities > .photoshop.show::after,
.abilities > .arduino.show::after {
    width: 37%;
}

.abilities > .deep::after {
    content: "";
    width: 0;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    background-color: #ffc107;
    transition: all 1s .5s;
}

.abilities > .deep.show::after {
    width: 66.6%;
}

.abilities > .raspberry::after,
.abilities > .siemens::after {
    content: "";
    width: 0;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    background-color: #ffc107;
    transition: all 1s .5s;
}

.abilities > .raspberry.show::after,
.abilities > .siemens.show::after {
    width: 74%;
}

.thirdHr {  
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    margin-top: -10px;
    opacity: .3;
    color: rgb(140, 140, 142);
}

section > .ticks {
    margin-top: -5%;
    position: absolute;
    left: 12%;
}

section > .ticks > img {
    width: 15px;
    margin-bottom: 40px;
}

section > .ticks > p {
    color: #c4c4c7;
    font-family: "poppins", sans-serif;
    font-size: 14px;
    margin-top: -22%;
    margin-left: 15%;
}

.leftSide > footer {
    background-color: rgba(34, 34, 45, 9);
    width: inherit;
    height: 15%;
    width: 95%;
    display: flex;
    justify-content: space-around;
}

.leftSide > footer > a > img {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 5%;
}



/* middle side starts */

