@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    letter-spacing: .3px;
}

/* just for background and bring all elements to center */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191923;
}

/* better focus on pic */
.blankArea {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 1s;
}

.blankArea.show {
    opacity: 1;
    z-index: 5;
}

.headImage {
    position: fixed;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    opacity: 0;
    transition: all 1s;
}

.headImage.show {
    z-index: 5;
    opacity: 1;
}

/* it is the left side content */
main {
    position: fixed;
    top: 3%;
    bottom: 3%;
    width: 97%;
    height: 94%;
    overflow: hidden;
}

/* left side sterts */

.leftSide {
    background-color: #23232e;
    width: 23%;
    height: inherit;
    position: fixed;
    z-index: 2;
    transition: all 2s;
}

.leftSide header {
    height: 40%;
    background-color: #23232e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftSide header img:first-child {
    margin-bottom: 100px;
    margin-top: 50px;
    width: 120px;
}

.leftSide header .magnifier {
    width: 40px;
    position: fixed;
    top: 13%;
    opacity: 0;
    transition: all .5s;
}

.leftSide header .magnifier.show {
    opacity: .8;
    cursor: pointer;
}

.leftSide header strong {
    font-weight: 450;
    font-size: 15px;
    position: absolute;
    margin-top: 110px;
    color: white;
    transition: all .5s;
    cursor: default;
}

.leftSide header strong:hover {
    color: #ffc107;
}

/* name description styles */
.leftSide header pre {
    position: absolute;
    font-weight: 500;
    font-size: 13px;
    color: rgb(140, 140, 142);
    margin-top: 220px;
    margin-left: -85px;
}

.leftSide main {
    width: inherit;
    height: 40%;
    position: fixed;
    top: 45%;
    background-color: #20202a;
    overflow: scroll;
}

.leftSide main::-webkit-scrollbar {
    display: none;
}

.leftSide main section {
    padding: 30px 10%;
}

ul {
    list-style-type: none;
}

li h6 {
    font-weight: 500;
    font-size: 13px;
    color: white;
    float: left;

}

li span {
    font-weight: 500;
    font-size: 13px;
    color: rgb(140, 140, 142);
    float: right;
}

main section .firstHr {
    margin-top: 40px;
    width: 98%;
    margin: 40px auto;
    opacity: .3;
    color: rgb(140, 140, 142);
}

main .languages {
    position: relative;
}

main section .container {
    width: 90%;
    position: absolute;
    top: -80%;
    left: 5%;
    display: flex;
    justify-content: space-around;
}

section .container .progressOne,
section .container .progressTwo {
    position: relative;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: conic-gradient(#fed03c 3.6deg, #191923 0deg);
    border-radius: 50%;
} 

section .container .progressOne::before,
section .container .progressTwo::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
    background-color: #20202a;
    border-radius: 50%;
}

div span {
    position: relative;
    color: rgb(202, 202, 206);
    font-weight: 500;
    letter-spacing: .3px;
}

div .title {
    color: white;
    position: absolute;
    top: 110%;
    font-size: 13px;
}

.secondHr {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
    width: 80%;
    opacity: .3;
    color: rgb(140, 140, 142);
}

.abilities {
    font-size: 13px;
    font-weight: 400;
    margin-top: 20px;
}

.abilities .title {
    position: absolute;
    left: 12%;
    color: #c4c4c7;
    margin-top: -25px;
}

.abilities .percent {
    position: absolute;
    right: 12%;
    color: #848487;
    margin-top: -25px;
}

.abilities .progressBar {
    width: 94%;
    height: 5px;
    background-color: #191923;
    border-radius: 5px;
    margin: 0 auto 55px auto;
}

.abilities .python::after,
.abilities .matlab::after,
.abilities .photoshop::after,
.abilities .arduino::after {
    content: "";
    width: 0;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    background-color: #fed03c;
    transition: all 1s .5s;
}

.abilities .python.show::after,
.abilities .matlab.show::after,
.abilities .photoshop.show::after,
.abilities .arduino.show::after {
    width: 37%;
}

.abilities .deep::after {
    content: "";
    width: 0;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    background-color: #fed03c;
    transition: all 1s .5s;
}

.abilities .deep.show::after {
    width: 66.6%;
}

.abilities .raspberry::after,
.abilities .siemens::after {
    content: "";
    width: 0;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    background-color: #fed03c;
    transition: all 1s .5s;
}

.abilities .raspberry.show::after,
.abilities .siemens.show::after {
    width: 74%;
}

.thirdHr {  
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    margin-top: -10px;
    opacity: .3;
    color: rgb(140, 140, 142);
}

section .ticks {
    margin-top: -5%;
    position: absolute;
    left: 12%;
}

section .ticks img {
    width: 10px;
    margin-bottom: 42px;
}

section .ticks p {
    color: #848486;
    font-size: 13px;
    margin-top: -22%;
    margin-left: 8%;
}

.leftSide footer {
    background-color: #23232e;
    width: inherit;
    height: 15%;
    width: 95%;
    display: flex;
    justify-content: space-around;
}

.leftSide footer a img {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 4%;
}


footer a img[alt="phone number"] {
    width: 18px;
}

footer a img[alt="github"] {
    width: 30px;
    height: 30px;
}

.openSide {
    width: 0;
    height: 0;
    opacity: 0;
}

/* middle side starts */

.middleSide {
    position: fixed;
    left: 24.5%;
    width: 67.5%;
    height: 94%;
    overflow: scroll;
    scroll-behavior: smooth;
}

.middleSide::-webkit-scrollbar {
    display: none;
}

.sleep {
    position: absolute;
    top: 380px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px 50px 0 0;
    background-color: #1c1c27;
    z-index: -1;
    opacity: 0;
    transition: all 1s;
}

.sleep.show {
    z-index: 1;
    opacity: 1;
}

.middleSide header img {
    position: absolute;
    width: inherit;
    height: 60%;
    opacity: .25;
}

.middleShadow {
    position: absolute;
    width: inherit;
    height: 94%;
    background-image: linear-gradient(to bottom,  rgba(30, 30, 40, .4),  rgba(30, 30, 40, 1));
}

.middleSide main {
    position: relative;
    top: 8%;
    width: 90%;
    margin: auto;
    height: 55%;
    background-image: url(images/mountain.jpg);
    background-size: cover;
    background-position: center;
    transition: all 2s;
}

.middleSide main .mainTexts {
    position: absolute;
}

main .mainTexts h1 {
    width: 52%;
    font-size: 38px;
    margin: 30px 60px;
    color: #fbfbfb;
}

.mainTexts pre {
    display: none;
}

main .mainTexts p {
    position: absolute;
    top: 120%;
    left: 0;
    color: #c4c4c7;
    font-size: 25px;
    width: 40%;
    text-align: center;
    margin-left: 30px;
}

.mainTexts p .type {
    color: #fbfbfb;
}

.mainTexts p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 5px;
    width: 2px;
}

.middleSide footer {
    position: relative;
    top: 12%;
    margin: auto;
    width: 88%;
    overflow: hidden;
}

.middleSide footer .educations {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
}

footer h2 {
    font-size: 19px;
    color: #fbfbfb;
}

footer h2:first-child {
    margin-bottom: -25px;
}

.educations section {
    position: relative;
    width: 32%;
    height: 300px;
    padding: 40px 20px;
    border-radius: 5px;
    margin: 10px auto;
    background-color: #2b2b36;
}

.educations section h3 {
    font-size: 14px;
    font-weight: 400;
    color: #fbfbfb;
    margin-bottom: 20px;
}

.educations section p {
    font-size: 13px;
    color: #717175;
    margin-top: 10px;
}

.educations section h6 {
    font-size: 12px;
    color: #fed03c;
    position: absolute;
    bottom: 20px;
}

.interests p {
    font-size: 13px;
    color: #fbfbfb;
    width: 98%;
    background-color: #2b2b36;
    margin: 10px auto;
    border-radius: 5px;
    padding: 40px 20px;
}

article p span {
    color: #717175;
}

.experience section {
    font-size: 13px;
    color: #fbfbfb;
    width: 98%;
    border-radius: 5px;
    background-color: #2b2b36;
    margin: 10px auto;
    border-radius: 5px;
    padding: 40px 20px;
    position: relative;
}

.experience section ul {
    padding: 10px 20px 20px;
}

.experience section ul li {
    color: #717175;
}

.experience section h6 {
    font-size: 12px;
    color: #fed03c;
    position: absolute;
    bottom: 20px;
}

.experience section p span {
    color: #717175;
}

.experience section p {
    margin-bottom: 30px;
}

.publication section {
    font-size: 13px;
    color: #fbfbfb;
    width: 98%;
    border-radius: 5px;
    background-color: #2b2b36;
    margin: 10px auto;
    border-radius: 5px;
    padding: 40px 20px;
    position: relative;

}

.publication section p span {
    color: #717175;
}

.mailToMe {
    position: relative;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    margin: 10px auto;
    border-radius: 5px;
    background-color: #2b2b36;
    padding: 40px 50px;
}

.mailToMe a {
    width: 200px;
    height: 50px;
    text-decoration: none;
}

.mailToMe a button {
    border-radius: 5px;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: #191923;
    color: #ffc107;
    width: 100%;
    height: 100%;
    transition: all .5s;
}

.mailToMe a button:hover {
    transform: translateY(-5px);
    background-color: #ffc107;
    color: #191923;
    font-size: 17px;
}

/* right side starts */

.rightSide {
    position: relative;
    left: 92%;
    width: 6%;
    height: 100%;
    background-color: #20202a;
    text-align: center;
    transition: all 1s;
}

.blank {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 1s;
}

.blank.show {
    z-index: 1;
    opacity: 1;
}

.rightSide header .openButton {
    width: 100%;
    height: 10%;
    background-color: #242430;
    cursor: pointer;
    z-index: inherit;
    transition: all 1s;
}

.rightSide.show header .openButton {
    position: inherit;
    width: 50%;
}

.rightSide header .rightSideInfo {
    line-height: 40px;
    color: #fbfbfb;
    opacity: .8;
}

.rightSide.show header .rightSideInfo {
    display: none;
}

.rightSide.show {
    z-index: 1;
    position: relative;
    left: 78%;
    width: 20%;
}

.rightSide main {
    position: absolute;
    top: 14%;
}

.rightSide main ul li {
    color: #848487;
    padding-top: 30px;
    font-size: 15px;
    opacity: 0;
    z-index: -2;
    transition: all 1s;
}

.rightSide.show main ul li {
    opacity: 1;
    z-index: 1;
}

.rightSide.show main ul li:hover {
    color: #fed03c;
    cursor: pointer;
}

.rightSide footer .author {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2c2c37;
    width: 100%;
    height: 0;
    font-size: 14px;
    border-radius: 50px 50px 0 0;
    color: #717175;
    transition: all 1s 1s;
}

.rightSide.show footer .author {
    height: 65px;
}

.author p a {
    color: #c4c4c7;
    text-decoration: none;
}

@media screen and (max-width: 950px) {
    .leftSide {
        display: none;
    }
    .middleSide {
        position: fixed;
        left: 2%;
        right: 2%;
        width: 96%;
    }
    .middleSide main {
        background-image: url(images/mountain1.jpg);
    }
    .middleSide main .mainTexts h1 {
        display: none;
    }
    .middleSide  main  .mainTexts  pre {
        display: block;
        content: "Pouria Maleki";
        text-align: center;
        width: 86.5vw;
        margin-top: 150px;
        justify-content: center;
        font-size: 60px;
        color: #fbfbfb;
    }
    .middleSide main .mainTexts p {
        display: none;
    }
    .rightSide {
        display: none;
    }
}