@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@keyframes cursor {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
}
@keyframes fever {
    0% {text-shadow: 0 0 1px black;}
    50% {text-shadow: 0 0 20px white;}
    100% {text-shadow: 0 0 1px black;}
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    letter-spacing: .3px;
}

/* just for background and bring all elements to center */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191923;
}

/* better focus on pic */
.blankArea {
    inline-size: 100%;
    block-size: 100%;
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    z-index: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 1s;
}

.blankArea.show {
    opacity: 1;
    z-index: 5;
}

.headImage {
    position: fixed;
    inset-block-start: 2%;
    inset-inline-start: 50%;
    transform: translateX(-50%);
    block-size: 95%;
    max-inline-size: 90%;
    z-index: 0;
    opacity: 0;
    transition: all 1s;
}

.headImage.show {
    z-index: 5;
    opacity: 1;
}

/* it is the left side content */
main {
    position: fixed;
    inset-block-start: 3%;
    inset-block-end: 3%;
    inline-size: 97%;
    block-size: 94%;
    overflow: hidden;
}

/* left side sterts */

.leftSide {
    background-color: #23232e;
    inline-size: 23%;
    block-size: inherit;
    position: fixed;
    z-index: 2;
    transition: all 2s;
}

.leftSide header {
    block-size: 40%;
    background-color: #23232e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftSide header img:first-child {
    margin-block-end: 100px;
    margin-block-start: 50px;
    inline-size: 120px;
}

.leftSide header .magnifier {
    inline-size: 40px;
    position: fixed;
    inset-block-start: 13%;
    opacity: 0;
    transition: all .5s;
}

.leftSide header .magnifier.show {
    opacity: .8;
    cursor: pointer;
}

.leftSide header strong {
    font-weight: 500;
    font-size: 15px;
    position: absolute;
    margin-block-start: 110px;
    color: white;
    transition: all .5s;
    cursor: default;
}

.leftSide header strong:hover {
    color: #ffc107;
}

/* name description styles */
.leftSide header pre {
    position: absolute;
    font-weight: 500;
    font-size: 13px;
    color: rgb(140, 140, 142);
    margin-block-start: 220px;
    margin-inline-start: -85px;
}

.leftSide main {
    inline-size: inherit;
    block-size: 40%;
    position: fixed;
    inset-block-start: 45%;
    background-color: #20202a;
    overflow: scroll;
}

.leftSide main::-webkit-scrollbar {
    display: none;
}

.leftSide main section {
    padding: 30px 10%;
}

ul {
    list-style-type: none;
}

li p {
    font-weight: 500;
    font-size: 13px;
    color: white;
    float: left;

}

li span {
    font-weight: 500;
    font-size: 13px;
    color: rgb(140, 140, 142);
    float: right;
}

main section .firstHr {
    margin-block-start: 40px;
    inline-size: 98%;
    margin: 40px auto;
    opacity: .3;
    color: rgb(140, 140, 142);
}

main .languages {
    position: relative;
}

main section .container {
    inline-size: 90%;
    position: absolute;
    inset-block-start: -80%;
    inset-inline-start: 5%;
    display: flex;
    justify-content: space-around;
}

section .container .progressOne,
section .container .progressTwo {
    position: relative;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 80px;
    block-size: 80px;
    background: conic-gradient(#fed03c 3.6deg, #191923 0deg);
    border-radius: 50%;
} 

section .container .progressOne::before,
section .container .progressTwo::before {
    content: "";
    position: absolute;
    inset-inline-start: 50%;
    transform: translateX(-50%);
    inline-size: 70px;
    block-size: 70px;
    background-color: #20202a;
    border-radius: 50%;
}

div span {
    position: relative;
    color: rgb(202, 202, 206);
    font-weight: 500;
    letter-spacing: .3px;
}

div .title {
    color: white;
    position: absolute;
    inset-block-start: 110%;
    font-size: 13px;
}

.secondHr {
    position: absolute;
    inset-inline-start: 50%;
    transform: translateX(-50%);
    margin-block-start: 40px;
    inline-size: 80%;
    opacity: .3;
    color: rgb(140, 140, 142);
}

.abilities {
    font-size: 13px;
    font-weight: 400;
    margin-block-start: 20px;
}

.abilities .title {
    position: absolute;
    inset-inline-start: 12%;
    color: #c4c4c7;
    margin-block-start: -25px;
}

.abilities .percent {
    position: absolute;
    inset-inline-end: 12%;
    color: #848487;
    margin-block-start: -25px;
}

.abilities .progressBar {
    inline-size: 94%;
    block-size: 5px;
    background-color: #191923;
    border-radius: 5px;
    margin: 0 auto 55px auto;
}

.abilities .python::after,
.abilities .matlab::after,
.abilities .photoshop::after,
.abilities .arduino::after {
    content: "";
    inline-size: 0;
    block-size: 5px;
    border-radius: 5px;
    position: absolute;
    background-color: #fed03c;
    transition: all 1s .5s;
}

.abilities .python.show::after,
.abilities .matlab.show::after,
.abilities .photoshop.show::after,
.abilities .arduino.show::after {
    inline-size: 37%;
}

.abilities .deep::after {
    content: "";
    inline-size: 0;
    block-size: 5px;
    border-radius: 5px;
    position: absolute;
    background-color: #fed03c;
    transition: all 1s .5s;
}

.abilities .deep.show::after {
    inline-size: 66.6%;
}

.abilities .raspberry::after,
.abilities .siemens::after {
    content: "";
    inline-size: 0;
    block-size: 5px;
    border-radius: 5px;
    position: absolute;
    background-color: #fed03c;
    transition: all 1s .5s;
}

.abilities .raspberry.show::after,
.abilities .siemens.show::after {
    inline-size: 74%;
}

.thirdHr {  
    position: absolute;
    inset-inline-start: 50%;
    transform: translateX(-50%);
    inline-size: 80%;
    margin-block-start: -10px;
    opacity: .3;
    color: rgb(140, 140, 142);
}

section .ticks {
    margin-block-start: -5%;
    position: absolute;
    inset-inline-start: 12%;
}

section .ticks img {
    inline-size: 10px;
    margin-block-end: 42px;
}

section .ticks p {
    color: #848486;
    font-size: 13px;
    margin-block-start: -22%;
    margin-inline-start: 8%;
}

.leftSide footer {
    background-color: #23232e;
    block-size: 15%;
    inline-size: 95%;
    display: flex;
    justify-content: space-around;
}

.leftSide footer a img {
    inline-size: 25px;
    block-size: 25px;
    position: absolute;
    inset-block-end: 4%;
}


footer a img[alt="phone number"] {
    inline-size: 18px;
}

footer a img[alt="github"] {
    inline-size: 30px;
    block-size: 30px;
}

.openSide {
    inline-size: 0;
    block-size: 0;
    opacity: 0;
}

/* middle side starts */

.middleSide {
    position: fixed;
    inset-inline-start: 24.5%;
    inline-size: 67.5%;
    block-size: 94%;
    overflow: scroll;
    scroll-behavior: smooth;
}

.middleSide::-webkit-scrollbar {
    display: none;
}

.sleep {
    position: absolute;
    inset-block-start: 380px;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 100%;
    border-radius: 50px 50px 0 0;
    background-color: #1c1c27;
    z-index: -1;
    opacity: 0;
    transition: all 1s;
}

.sleep.show {
    z-index: 1;
    opacity: 1;
}

.middleSide header img {
    position: absolute;
    inline-size: inherit;
    inline-size: 100%;
    block-size: 80%;
    opacity: .8;
}

.middleShadow {
    position: absolute;
    inset-block-start: 0;
    inline-size: 100%;
    block-size: 80%;
    background-image: linear-gradient(to bottom,  rgba(30, 30, 40, .6),  rgb(25, 25, 35));
}

.middleSide main {
    position: relative;
    inset-block-start: 8%;
    inline-size: 90%;
    margin: auto;
    block-size: 55%;
    background-image: url(images/11.png);
    background-size: cover;
    background-position: center;
    transition: all 2s;
}

.middleSide main .mainTexts {
    position: absolute;
}

main .mainTexts h1 {
    inline-size: 55%;
    font-size: 38px;
    margin: 30px 60px;
    color: #fbfbfb;
    text-shadow: 0 0 10px black;
}

.mainTexts strong {
    display: none;
}

.biography {
    display: none;
}

main .mainTexts p {
    position: absolute;
    inset-block-start: 100%;
    inset-inline-start: -5%;
    color: #fed03c;
    font-size: 25px;
    inline-size: 50%;
    text-align: center;
    text-shadow: 0 0 5px black;
    margin-inline-start: 30px;
}

.mainTexts p .type {
    color: #fbfbfb;
    text-shadow: 0 0 10px black;
}

.mainTexts p .cursor {
    display: inline-block;
    background-color: #ccc;
    margin-inline-start: 5px;
    inline-size: 2px;
    animation: cursor 1s infinite;
}

.mainTexts p .typing {
    animation: none;
}

.middleSide footer {
    position: relative;
    inset-block-start: 12%;
    margin: auto;
    inline-size: 88%;
    overflow: hidden;
}

.middleSide footer .educations {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
}

footer h2 {
    font-size: 19px;
    color: #fbfbfb;
}

footer h2:first-child {
    margin-block-end: -25px;
}

.educations section {
    position: relative;
    inline-size: 48%;
    block-size: auto;
    padding: 40px 20px;
    border-radius: 5px;
    margin: 10px auto;
    background-color: #2b2b36;
}

.educations section h3 {
    font-size: 14px;
    font-weight: 400;
    color: #fbfbfb;
    margin-block-end: 20px;
}

.educations section p {
    font-size: 13px;
    color: #717175;
    margin-block-start: 10px;
}

.when {
    font-size: 12px;
    color: #fed03c;
    position: absolute;
    inset-block-end: 15px;
}

.interests p {
    font-size: 13px;
    color: #fbfbfb;
    inline-size: 98%;
    background-color: #2b2b36;
    margin: 10px auto;
    border-radius: 5px;
    padding: 40px 20px;
}

article p span {
    color: #717175;
}

.experience section {
    font-size: 13px;
    color: #fbfbfb;
    inline-size: 98%;
    background-color: #2b2b36;
    margin: 10px auto;
    border-radius: 5px;
    padding: 40px 20px;
    position: relative;
}

.experience section ul {
    padding: 10px 20px 20px;
}

.experience section ul li {
    color: #717175;
}

.experience section p span {
    color: #717175;
}

.experience section p {
    margin-block-end: 30px;
}

.publication section {
    font-size: 13px;
    color: #fbfbfb;
    inline-size: 98%;
    background-color: #2b2b36;
    margin: 10px auto;
    border-radius: 5px;
    padding: 40px 20px;
    position: relative;

}

.publication section p span {
    color: #717175;
}

.mailToMe {
    position: relative;
    inset-inline-start: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 98%;
    margin: 10px auto;
    border-radius: 5px;
    background-color: #2b2b36;
    padding: 40px 50px;
}

.mailToMe a {
    inline-size: 200px;
    block-size: 50px;
    text-decoration: none;
}

.mailToMe a button {
    position: absolute;
    inset-inline-start: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: #191923;
    color: #ffc107;
    inline-size: 60%;
    block-size: 40%;
    transition: all .5s;
}

.mailToMe a button:hover {
    background-color: #ffc107;
    color: #191923;
    font-size: 17px;
}

/* right side starts */

.rightSide {
    position: relative;
    inset-inline-start: 92%;
    inline-size: 6%;
    block-size: 100%;
    background-color: #20202a;
    text-align: center;
    transition: all 1s;
}

.blank {
    inline-size: 100%;
    block-size: 100%;
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    z-index: -2;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 1s;
}

.blank.show {
    z-index: 1;
    opacity: 1;
}

.rightSide header .openButton {
    inline-size: 100%;
    block-size: 10%;
    background-color: #242430;
    cursor: pointer;
    z-index: inherit;
    transition: all 1s;
}

.rightSide.show header .openButton {
    position: inherit;
    inline-size: 50%;
}

.rightSide header .rightSideInfo {
    line-height: 40px;
    color: #fbfbfb;
    opacity: .8;
}

.rightSide.show header .rightSideInfo {
    display: none;
}

.rightSide.show {
    z-index: 1;
    position: relative;
    inset-inline-start: 78%;
    inline-size: 20%;
}

.rightSide main {
    position: absolute;
    inset-block-start: 14%;
}

.rightSide main ul li {
    color: #848487;
    padding-block-start: 30px;
    font-size: 15px;
    opacity: 0;
    z-index: -2;
    transition: all 1s;
}

.rightSide.show main ul li {
    opacity: 1;
    z-index: 1;
}

.rightSide.show main ul li:hover {
    color: #fed03c;
    cursor: pointer;
}

.rightSide footer .author {
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 50%;
    transform: translateX(-50%);
    background-color: #2c2c37;
    inline-size: 100%;
    block-size: 0;
    font-size: 14px;
    border-radius: 50px 50px 0 0;
    color: #717175;
    transition: all 1s 1s;
}

.rightSide.show footer .author {
    block-size: 65px;
}

.author p a {
    font-family: cursive;
    color: #c4c4c7;
    text-decoration: none;
}

@media screen and (max-width: 950px) {
    .leftSide {
        inline-size: 50%;   
        block-size: 94.2%;
        opacity: 0;
        z-index: -1;
        transition: all 1s;
    }
    .leftSide.show {
        z-index: 2;
        opacity: 1;
    }
    .magnifier {
        display: none;
    }
    .languages {
        display: none;
    }
    .abilities {
        margin-block-start: -60px;
    }
    .middleSide {
        position: fixed;
        inset-inline-start: 2%;
        inset-inline-end: 2%;
        inline-size: 96%;
    }
    .middleSide main {
        background-image: url(images/mountain1.jpg);
    }
    .middleShadow {
        background-image: linear-gradient(to bottom,  rgba(30, 30, 40, .2),  rgb(25, 25, 35));
    }
    .middleSide main .mainTexts h1 {
        display: none;
    }
    .middleSide main .mainTexts {
        inline-size: 100%;
    }
    .mainTexts strong {
        display: block;
        text-align: center;
        margin: 18% auto 0 auto;
        font-size: 60px;
        color: #fbfbfb;
    }
    .mobileShadow {
        position: fixed;
        inset-block-start: 0;
        inset-inline-start: 0;
        inline-size: 100%;
        block-size: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: -1;
        opacity: 0;
        transition: all 1s;
    }
    .mobileShadow.show {
        opacity: 1;
        z-index: 2;
    }
    .biography {
        position: relative;
        z-index: 3;
        font-size: 20px;
        inline-size: 50%;
        background-color: transparent;
        border: none;
        display: block;
        margin: 15% auto 0 auto;
        color: #fbfbfb;
        animation: fever 2s infinite;
        transition: all 1s;
    }
    .biography.show {
        inline-size: 48%;
        transform: translateX(57%);
    }
    .biography:active {
        color: #ffc107;
    }
    .middleSide main .mainTexts p {
        display: none;
    }
    .educations section p {
        margin-block-end: 30px;
    }
    .rightSide {
        display: none;
    }
}